meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content='Sitio web para ordenar comida en línea de diferentes restaurantes')
meta(name='keywords', content='Honduras, comida, delivery, food, ecommerce, fastfood, comida rapida, restaurante, restaurant')
title FoodLand
link(rel='shortcut icon', href='/assets/images/icon2.png', type='image/x-icon')
link(rel='stylesheet', href='/assets/css/icons.min.css')
link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
link(rel='stylesheet', href='/assets/css/animate.min.css')
link(rel='stylesheet', href='/assets/css/main.css')
link(rel='stylesheet', href='/assets/css/red-color.css')
link(rel='stylesheet', href='/assets/css/yellow-color.css')
link(rel='stylesheet', href='/assets/css/responsive.css')