script(src='assets/js/jquery.min.js')
script(src='assets/js/bootstrap.min.js')
script(src='assets/js/plugins.js')
script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
script(src='assets/js/google-map-int.js')
script(src='../../www.google.com/recaptcha/api.js')
script(src='assets/js/main.js')