extends ./layoutCliente

block contenido
  // Hero
  section
    .block
      .fixed-bg(style='background-image: url(/assets/images/topbg.jpg);')
      .page-title-wrapper.text-center
        .col-md-12.col-sm-12.col-lg-12
          .page-title-inner
            h1(itemprop='headline') Sobre nosotros
            span Un gran sitio web de pedidos de restaurantes
  // Pasos para ordenar
  section
    .block.less-spacing.gray-bg.top-padd30
      .container
        .row
          .col-md-12.col-sm-12.col-lg-12
            .sec-box
              .about-feat.text-center.wow.fadeIn(data-wow-delay='0.2s')
                h2.title3(itemprop='headline') Somos un servicio de alimentos en linea
                img(src='/assets/images/resource/about-img.jpg', alt='about-img.jpg', itemprop='image')
              .block.less-spacing
                .row
                  .col-md-12.col-sm-12.col-lg-12
                    .title2-wrapper.text-center
                      h2.sudo-bottom.sudo-width70.sudo-bg-yellow(itemprop='headline') Ordena en 3 pasos
                    .remove-ext.text-center
                      .row
                        // Paso 1
                        .col-md-4.col-sm-4.col-lg-4
                          .step-box.wow.fadeIn(data-wow-delay='0.2s')
                            i
                              img(src='/assets/images/resource/setp-img1.png', alt='setp-img1.png', itemprop='image')
                              span.brd-rd50.red-bg 1
                            .setp-box-inner
                              h4(itemprop='headline') Explora restaurantes
                              p(itemprop='description') Revisa nuestros restaurantes afiliados, ayudándote de nuestras categorías
                        // Paso 2
                        .col-md-4.col-sm-4.col-lg-4
                          .step-box.wow.fadeIn(data-wow-delay='0.4s')
                            i
                              img(src='/assets/images/resource/setp-img2.png', alt='setp-img2.png', itemprop='image')
                              span.brd-rd50.red-bg 2
                            .setp-box-inner
                              h4(itemprop='headline') Elige
                              p(itemprop='description') La comida de tu preferencia de los diferentes restaurantes
                        // Paso 3
                        .col-md-4.col-sm-4.col-lg-4
                          .step-box.wow.fadeIn(data-wow-delay='0.6s')
                            i
                              img(src='/assets/images/resource/setp-img3.png', alt='setp-img3.png', itemprop='image')
                              span.brd-rd50.red-bg 3
                            .setp-box-inner
                              h4(itemprop='headline') Ordena
                              p(itemprop='description') Procesa tu orden para terminar tu pedido
              // FAQ
              .toggle-wrapper.text-center.bottom-padd80
                #toggle.toggle
                  .toggle-item
                    h4
                      i.fa.fa-angle-right.brd-rd50
                      | ¿Qué es FoodLand?
                    .content
                      p
                        | Es un sitio web que reúne diferentes categorías de restaurantes, cafeterías entre otros,
                        | donde se puede realizar pedidos desde una computadora o un celular.
                  .toggle-item
                    h4
                      i.fa.fa-angle-right.brd-rd50
                      |  ¿Por qué surge FoodLand?
                    .content
                      p
                        | Los clientes cada vez buscan más nuevas tecnologías en restaurantes, y los restaurantes
                        | ¿se adaptan a estas necesidades de sus clientes?
                        br
                        | Los restaurantes cada vez son más conscientes de la importancia que tienen las nuevas
                        |                           tecnologías para el futuro de su negocio.
                        br
                        |  FoodLand permite tanto a los clientes y a los restaurantes una mejor interacción,
                        |                           un mejor servicio y todo esto al alcance de un click.
                  .toggle-item
                    h4
                      i.fa.fa-angle-right.brd-rd50
                      |  ¿Quiénes son los desarrolladores?
                    .content
                      p
                        | FoodLand es un proyecto final para la clase de Negocios Web, sus desarrolladores:
                        br
                      ul
                        li  Sonia Villeda
                        li  Gimena Sánchez
                        li  Hesler Alvarado
                        li  Marcos Sorto
                      p
                // Accordions