extends ./layoutAdmin

block contenido
  #my-orders.tab-pane.fade.in.active
    .tabs-wrp.brd-rd5
      // Datos Cuenta
      .welcome-note.yellow-bg.brd-rd5
        h4(itemprop='headline') BIENVENIDO A TU CUENTA
        p(itemprop='description') Como administrador pordras realizar diversas acciones en el sitio web.
        img(src='/assets/images/resource/welcome-note-img.png', alt='welcome-note-img.png', itemprop='image')
        a.remove-noti(href='#', title='', itemprop='url')
          img(src='/assets/images/close-icon.png', alt='close-icon.png', itemprop='image')
      // Platillos
      h4(itemprop='headline') LISTA DE PLATILLOS
      .rite-meta
        a.view-more(href='/PlatilloForm', title='') Agregar
         // LISTA DE PLATILLOS
      .order-list
        ul
          if (platillos)
            each platillo in platillos
              li
                // Listado de los platillos
                .order-item.brd-rd5
                  .order-thumb.brd-rd5
                     img(src=`images/Platillos/${platillo.imagen}`, alt='platillo', itemprop='image')
                  .order-info
                    h4(itemprop='headline')
                      a(href='#', title='', itemprop='url') #{platillo.nombre}
                    span.price Lps. #{platillo.precio}
                  .view-menu-liks
                    a.brd-rd3(href='#', title='', itemprop='url') Modificar
                    a.brd-rd3(href='#', title='', itemprop='url') Eliminar