doctype html
html(lang='en')
  head
    include partials/header
  body(itemscope='')
    main
      .preloader
        #cooking
          .bubble
          .bubble
          .bubble
          .bubble
          .bubble
          #area
            #sides
              #pan
              #handle
            #pancake
              #pastry
      header.stick
        .topbar
          .container
            .topbar-register
              a(href='/cerrarSesion', title='Cerrar sesión', itemprop='url') Cerrar sesión
            .social1
              a(href='https://es-la.facebook.com/', title='Facebook', itemprop='url', target='_blank')
                i.fa.fa-facebook-square
              a(href='https://twitter.com/', title='Twitter', itemprop='url', target='_blank')
                i.fa.fa-twitter
              a(href='https://www.instagram.com/?hl=es-la', title='Google Plus', itemprop='url', target='_blank')
                i.fa.fa-instagram
        // Topbar
        .logo-menu-sec
          .container
            .logo
              h1(itemprop='headline')
                a(href='index-2.html', title='Home', itemprop='url')
                  img(src='/assets/images/logo2.png', alt='logo.png', itemprop='image')
            nav
              .menu-sec
                ul
                  li
                    a(href='#', title='RESTAURANTES', itemprop='url')
                      span.red-clr
                      | RESTAURANTES
                  li
                     a(href='/nuevo_Platillo', title='PLATILLOS', itemprop='url')
                      span.red-clr
                      | PLATILLOS
                  li
                    a(href='/nueva_Categoria', title='CATEGORIAS', itemprop='url')
                      span.red-clr
                      | CATEGORÍAS
                  li
                    a(href='#', title='CONFIGURACIÓN', itemprop='url')
                      span.red-clr
                      | CONFIGURACIÓN
      // Logo Menu Section
      // Header
      // Header Responsive
      .responsive-header
        .responsive-logomenu
          .logo
            h1(itemprop='headline')
              a(href='index-2.html', title='Home', itemprop='url')
                img(src='/assets/images/logo.png', alt='logo.png', itemprop='image')
          span.menu-btn.yellow-bg.brd-rd4
            i.fa.fa-align-justify
        // Menú responsive
        .responsive-menu
          span.menu-close.red-bg.brd-rd3
            i.fa.fa-close
          .menu-lst
            ul
              li
                a(href='#', title='INICIO', itemprop='url')
                  span.yellow-clr CONÓCENOS
                  | INICIO
              li
                a(href='#', title='RESTAURANTES', itemprop='url')
                  span.yellow-clr COMIDA
                  | RESTAURANTES
              li
                a(href='#', title='ACERCA DE', itemprop='url')
                  span.yellow-clr ACERCA DE
                  | SOBRE NOSOTROS
              li
                a(href='contact.html', title='CONTACT US', itemprop='url')
                  span.yellow-clr REAL FOOD
                  | CONTACT US
            // Menú responsive
            // Cerrar Sesión
          .topbar-register
            a.log-popup-btn(href='/cerrarSesion', title='Cerrar sesión', itemprop='url') Cerrar sesión
            // Cerrar Sesión
            // Social Media
          .social1
            a(href='https://es-la.facebook.com/', title='Facebook', itemprop='url', target='_blank')
              i.fa.fa-facebook-square
            a(href='https://twitter.com/', title='Twitter', itemprop='url', target='_blank')
              i.fa.fa-twitter
            a(href='https://www.instagram.com/?hl=es-la', title='Google Plus', itemprop='url', target='_blank')
              i.fa.fa-google-plus
          // Social Media
          // Carrito
          .register-btn
            a.yellow-bg.brd-rd4(href='register-reservation.html', title='Register', itemprop='url') Compra
          // Carrito
          // Menu Responsive
          // Header Responsive
      // HERO
      section
        .block
          .fixed-bg(style='background-image: url(/assets/images/topbg.jpg);')
          .page-title-wrapper.text-center
            .col-md-12.col-sm-12.col-lg-12
              .page-title-inner
                h1(itemprop='headline') Dashboard
                  span La mejor opción para ordenar comida en línea
      // HERO
      // DASHBOARD
      section
        .block.less-spacing.gray-bg.top-padd30
          .container
            .row
              .col-md-12.col-sm-12.col-lg-12
                .sec-box
                  .dashboard-tabs-wrapper
                    .row
                      // CONFIGURACIÓN
                      .col-md-4.col-sm-12.col-lg-4
                        .profile-sidebar.brd-rd5.wow.fadeIn(data-wow-delay='0.2s')
                          .profile-sidebar-inner.brd-rd5
                            .user-info.red-bg
                              // Usuario
                              .user-info-inner
                                h5(itemprop='headline')
                                  a(href='#', title='', itemprop='url') Administrador
                                span
                                  a(href='#', title='', itemprop='url') simbiosis@foodland.com
                                a.brd-rd3.sign-out-btn.yellow-bg(href='/cerrarSesion', title='', itemprop='url')
                                  i.fa.fa-sign-out
                                  |  CERRAR SESIÓN
                            // Barra lateral
                            ul.nav.nav-tabs
                              li
                                a(href='dashboardAdmin.html')
                                  i.fa.fa-shopping-basket
                                  |  RESTAURANTES
                              li
                                a(href='/nuevo_Platillo')
                                  i.fa.fa-cutlery
                                  |  PLATILLOS
                              li
                                a(href='/nueva_Categoria')
                                  i.fa.fa-list
                                  |  CATEGORÍAS
                              li
                                a(href='dashConfiguracion.html')
                                  i.fa.fa-cog
                                  |  CONFIGURACIÓN
                      .col-md-8.col-sm-12.col-lg-8
                        .tab-content
                          // contenido de cada controlador
                          block contenido
      // Pie de página
      footer
        .block.top-padd80.bottom-padd80.dark-bg
          .container
            .row
              .col-md-12.col-sm-12.col-lg-12
                .footer-data
                  .row
                    // Columna 1
                    .col-md-6.col-sm-12.col-lg-6
                      .widget.about_widget.wow.fadeIn(data-wow-delay='0.1s')
                        .logo
                          h1(itemprop='headline')
                            a(href='#', title='Home', itemprop='url')
                              img(src='/assets/images/logo.png', alt='logo.png', itemprop='image')
                        p(itemprop='description') Pedido de comida en línea. La mejor opción en comidas.
                        .social2
                          a.brd-rd50(href='https://es-la.facebook.com/', title='Facebook', itemprop='url', target='_blank')
                            i.fa.fa-facebook
                          a.brd-rd50(href='https://www.instagram.com/?hl=es-la', title='Google Plus', itemprop='url', target='_blank')
                            i.fa.fa-google-plus
                          a.brd-rd50(href='https://twitter.com/', title='Twitter', itemprop='url', target='_blank')
                            i.fa.fa-twitter
                          a.brd-rd50(href='https://www.instagram.com/?hl=es-la', title='Instagram', itemprop='url', target='_blank')
                            i.fa.fa-instagram
                    // Columna 2
                    .col-md-6.col-sm-12.col-lg-6
                      .widget.information_links.wow.fadeIn(data-wow-delay='0.2s')
                        h4.widget-title(itemprop='headline') ADMINISTRAR
                        ul
                          li
                            a(href='#', title='', itemprop='url') Restaurantes
                          li
                            a(href='#', title='', itemprop='url') Platillos
                          li
                            a(href='#', title='', itemprop='url') Categorías
      // Pie de Página
      // Copyright
      .bottom-bar.dark-bg.text-center
        .container
          p(itemprop='description')
            | Negocios Web 2019 
            a(href='https://www.unicah.edu/') UNICAH-JS
      // Copyright
    // Scripts
    include partials/scripts
    script(src="/assets/dist/bundle.js")

