doctype html
html(lang='en')
  head
    include partials/header
  body(itemscope='')
    main
      .preloader
        #cooking
          .bubble
          .bubble
          .bubble
          .bubble
          .bubble
          #area
            #sides
              #pan
              #handle
            #pancake
              #pastry
      // LOGIN
      section
        .block.no-padding
          .container-fluid
            .row.merged
              // LADO IZQUIERDO
              .col-md-6.col-sm-12.col-xs-12
                .tab-content
                  #link1.tab-pane.active.fade.in
                    .chef-box
                      img(src='/assets/images/resource/chef.png', alt='')
                      ul
                        li.wow.fadeInUp(data-wow-delay='0.2s')
                          // <span class="food-price">Bienvenido a</span>
                          h4
                            a(href='#', title='#') Bienvenido a
                          h1 FoodLand
                          span.food-price Creamos recuerdos delicioso
              // LADO DERECHO
              .col-md-6.col-sm-12.col-xs-12
                br
                br
                br
                br
                br
                .sign-popup-wrapper.brd-rd5
                  .sign-popup-inner.brd-rd5
                    .sign-popup-title.text-center
                      h4(itemprop='headline') INICIA SESIÓN
                      span Realiza tus pedidos
                      // Mostrando los errores de inicio de sesion
                      if locals.mensajes
                        each categoria in Object.keys(locals.mensajes)
                          each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                              p #{error}
                    span.popup-seprator.text-center
                      i.brd-rd50
                    form.sign-form(action="/inicioSesion" method="POST" id="formulario")
                      .row
                        .col-md-12.col-sm-12.col-lg-12.col-xs-12
                          input.brd-rd3(type='email', placeholder='Correo Electrónico' name='correo' value=correo)
                        .col-md-12.col-sm-12.col-lg-12.col-xs-12
                          input.brd-rd3(type='password', placeholder='Contraseña' name='password' value=password)
                        .col-md-12.col-sm-12.col-lg-12.col-xs-12
                          button.red-bg.brd-rd3(type='submit' value="Inicio Sesion") INGRESA
                        .col-md-12.col-sm-12.col-lg-12.col-xs-12
                          a.sign-btn(href="/nuevoUsuario") ¿No eres miembro? Regístrate
                          br
                          a.sign-btn(href="/restablecer") ¿Olvidaste tu contraseña?
      // Copyright
      .bottom-bar.dark-bg.text-center
        .container
          p(itemprop='description')
            | Negocios Web 2019 
            a(href='https://www.unicah.edu/') UNICAH-JS
      // Copyright
    // Scripts
    include partials/scripts