extends ./layoutCliente

include mixins/detallePedido.pug

block contenido
  // Hero
  section
    .block
      .fixed-bg(style='background-image: url(/assets/images/topbg.jpg);')
      .page-title-wrapper.text-center
        .col-md-12.col-sm-12.col-lg-12
          .page-title-inner
            h1(itemprop='headline') Ordena
            span La comida más deliciosa de la ciudad
  +detallePedido(losdetallesPedidos)  