<!DOCTYPE html>
html(lang="en")
    head
        include ./emailComanda.css
            
    body(itemscope='')
        main
            section
                .reservation-tabs-wrapper
                    .row
                        .col-md-9.col-sm-12.col-lg-9
                            .reservation-tab-content
                                .tab-content
                                    #reservation-tab4.tab-pane.fade.active.in
                                        .order-wrapper2.brd-rd5
                                            h4(itemprop='headlie') TU ORDEN
                                            |                                         
                                            ul.ordr-lst.brd-rd5
                                                li.lst-hed
                                                  | PRODUCTO
                                                   span TOTAL
                                                |                                             
                                                li
                                                  | Producto 1
                                                    span $90.00
                                                |                                             
                                                li
                                                  | Subtotal
                                                    span $90.00
                                                |                                             
                                                li
                                                  | Impuesto
                                                    span $2.70
                                                |                                             
                                                li.red-bg
                                                  | Producto 1
                                                span $92.70