mixin crearCategoria(categoria = {})
  #account-settings.tab-pane.fade.in.active
    .tabs-wrp.account-settings.brd-rd5
      h4(itemprop='headline') ADMINISTRACIÓN DE CATEGORÍAS
      .account-settings-inner
        .row
          .col-md-8.col-sm-8.col-lg-8
            .profile-info-form-wrap
              // Formulario
              form.profile-info-form(action=`/nueva_Categoria/${categoria.id || ''}`  method="POST" encType="multipart/form-data")
                .row.mrg20
                  .col-md-12.col-sm-12.col-lg-12
                    label Nombre
                    input(type='text', placeholder='Nombre' name="nombre" id="nombre" value = categoria.nombre)
                  .col-md-12.col-sm-12.col-lg-12
                    label Descripción
                    input(type='text', placeholder='Descripción' name="descripcion" id="descripcion" value =categoria.descripcion)
                  // Aquí va la imagen
                  .col-md-12.col-sm-12.col-lg-12
                  .profile-img-upload-btn

                    if(categoria.imagen)
                      label Imagen Actual
                      input#profile-upload(type='text' name="actual" value = `${categoria.imagen || 'sin selección'} ` readonly )
                    
                    .col-md-6.col-sm-6.col-lg-6
                    .profile-img-upload-btn
                      if(categoria.imagen)
                        img(src=`/images/Categorias/${categoria.imagen}`, alt="Imagen Actal")
                  
                    .col-md-12.col-sm-12.col-lg-12
                    .profile-img-upload-btn
                      label.fileContainer.brd-rd5.yellow-bg
                        | Elegir ícono
                        input#profile-upload(type='file' name="icono" value =categoria.icono)
                    br
                    br
                    br
                  .col-md-12.col-sm-12.col-lg-12
                    label Estado 
                    .select-wrp
                      select(name ="estado" value =categoria.estado)
                        option Activo
                        option Inactivo
                  .rite-meta
                    input.view-more(type='submit', value=`${categoria.nombre ? 'Guardar' : 'Agregar'}`)
                    input.view-more(type='submit', value='Cancelar')