mixin crearPlatillo(platillo = {})
  // Configuración
  #account-settings.tab-pane.fade.in.active
    .tabs-wrp.account-settings.brd-rd5
      h4(itemprop='headline') ADMINISTRACIÓN DE PLATILLOS
      .account-settings-inner
        .row
          .col-md-8.col-sm-8.col-lg-8
            .profile-info-form-wrap
              // Formulario
              form.profile-info-form(action='/nuevo_platillo'  method="POST")
                .row.mrg20
                  .col-md-12.col-sm-12.col-lg-12
                    label Nombre
                    input.brd-rd3(type='text', placeholder='Nombre')
                  .col-md-12.col-sm-12.col-lg-12
                    label Descripción
                    input.brd-rd3(type='text', placeholder='Descripción')
                  // Aquí va la imagen
                  .col-md-12.col-sm-12.col-lg-12
                    .profile-img-upload-btn
                      label.fileContainer.brd-rd5.yellow-bg
                        | Elegir imagen
                        input#profile-upload(type='file')
                    br
                    br
                    br
                  .col-md-6.col-sm-6.col-lg-6
                    label Restaurante 
                    .select-wrp
                      select
                        option Palacio China
                        option Pizzeria Venecia
                        option Norberta
                  .col-md-6.col-sm-6.col-lg-6
                    label Precio
                    input.brd-rd3(type='number', placeholder='Telefono')
                  .col-md-12.col-sm-12.col-lg-12
                    label Estado 
                    .select-wrp
                      select
                        option Activo
                        option Inactivo
                  .rite-meta
                    input.view-more(type='submit', value=`${restaurante.nombre ? 'Guardar' : 'Agregar'}`)
                    input.view-more(type='submit', value='Cancelar')